#botones_laterales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
  margin-top: 100px;
  width: 10%;
  height: 600px;
  padding: 50px;
}
.botones {
  background-image: url(assets/images/Rectangle36.png);
  background-size: cover;
  border: none;
  height: 70px;
  text-decoration: none;
  color: red;
  font-size: 20px;
  user-select: none;
  /* font-style: oblique; */
}
